.torre:hover {
    transform: scale(1.1);
    border: rgb(50, 86, 184) solid 0.1px;

    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
}

@keyframes jogadaProibida {
    from,
    to {
      transform: translate3d(0, 0, 0);
      background:linear-gradient(0deg, #ffc2c2 0%, rgba(229,247,171,1) 100%);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
      background:linear-gradient(0deg, rgba(228,255,255,1) 0%, rgba(229,247,171,1) 100%);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
      background:linear-gradient(0deg, #ffc2c2 0%, rgba(229,247,171,1) 100%);
    }
  }

  @keyframes bounce {
    from,
    0%,
    to {

      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0, -4px, 0);
    }
  }

  @keyframes pulsate-fwd {
    0% {
      background:linear-gradient(0deg, #f55858 0%, #f9aeae);
      color: aliceblue;
      border-color: #f55858;
      transform: scale(1);
    }
    50% {
      background:linear-gradient(0deg, #f9aeae 0%, #f55858 100%);
      color: aliceblue;
      border-color: #f55858;
      transform: scale(1.1);
    }
    100% {
      background:linear-gradient(0deg, #f55858 0%, #f9aeae 100%);
      color: aliceblue;
              border-color: #f55858;
              transform: scale(1);
    }
  }

  @keyframes colorEffects {
    from {
      filter: hue-rotate(0deg);
    }
    
    to {
      filter: hue-rotate(-360deg);
    }
}

@keyframes fimDeJogoCartas {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg);
    opacity: 0;
  }
}

@keyframes fimDeJogoCartasSUP {
  0% {
    transform: translate(0%);
    opacity: 1;
  }
  100% {
    transform: translate(10%);
    opacity: 0;
  }
}

@keyframes colorEffectsEndGame {
  from {
    filter: hue-rotate(0deg);
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(255,244,249,1) 100%)
  }
  
  to {
    filter: hue-rotate(-360deg);
    background: radial-gradient(circle, rgba(255,244,249,1) 0%, rgba(148,187,233,1) 100%)
  }
}