.regras {

    
    margin: 20px auto;
    color: rgb(50, 86, 184);
    border: 2px solid rgb(50, 86, 184);
    width: 50%;
    border-radius: 10px;

    background-image: linear-gradient(92deg, rgb(50, 86, 184) 0%,#feab3a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorEffects 1200s infinite;
}

.regras > h3 {

    font-family: 'Bellota', cursive;
    font-size: 40px;
    padding-bottom: 10px;
    text-align: center;
}

.regras > p {
    font-family: 'Karla', sans-serif;

    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.regras > ol {
    font-family: 'Karla', sans-serif;

    font-size: 20px;
    margin-left: 55px;
}

.regras > ol > li {
    padding: 20px
}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.torre {
    background: rgb(228,255,255);
    background: linear-gradient(0deg, rgba(228,255,255,1) 0%, rgba(229,247,171,1) 100%);

    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 10px;

    border: #e7ffb3 solid 5px;
    border-radius: 5%; 
}

.meio {
    width: 200px;
    height: 250px;
}

#disco1 {
    background: rgb(36,36,0);
    background: linear-gradient(90deg, rgba(36,36,0,1) 0%, rgba(121,101,9,1) 35%, rgba(255,184,0,1) 100%);

    width: 85%;
    height: 30px;
    border-radius: 40px 40px 10px 10px;
    outline: initial;
}

#disco2 {
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,0,1) 100%);

    width: 70%;
    height: 30px;
    border-radius: 40px 40px 10px 10px;
}

#disco3 {
    background: rgb(0,36,11);
    background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(9,121,20,1) 35%, rgba(0,255,158,1) 100%);

    width: 50%;
    height: 30px;
    border-radius: 40px 40px 10px 10px;
}

#disco4 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    width: 30%;
    height: 30px;
    border-radius: 40px 40px 10px 10px;
}

.resultado {
    font-family: 'Bellota', cursive;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(50, 86, 184);
}
    
.resultado > p {
    text-align: center;
    font-family: 'Bellota', cursive;
    margin-left: 24.5%;

    height: 60px;
    width: 50%;
    padding: 10px;

    border: 2px solid rgb(50, 86, 184);
    border-radius: 10px;
}